@import url('https://fonts.googleapis.com/css?family=Cousine');

body {
  font: 14px "Cousine", Helvetica, Arial, sans-serif;
}

header {
    text-align: center;
}

main {
    text-align: center;
    margin: auto;
    width: 90%;
}

main .row {
    position: relative;
}

main .panel {
    width: 46%;
    border: 1px solid #ccc;
    padding: 5px;
    float: left;
    min-height: 300px;
    position: absolute;
}

main .panel.left {
    left: 0;
}

main .panel.right {
    right: 0;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.go {
    border: 2px solid #EE6630;
    color: #EE6630;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.go:hover {
    text-decoration: underline;
}

.target {
    text-align: left;
}

.beer:hover .coffee {
    display: none;
}

.beer:hover:before {
    color: #EE6630;
    content: 'beer';
    font-weight: bold;
}

.kw {
    color: #EE6630;
    font-weight: bold;
}

.f {
    color: #51611E;
    font-weight: bold;
}

.target {
    color: #aaa;
}